.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #DEDEDE;


}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 9vmin);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}
/* #c90000	(201,0,0)
#fff400	(255,244,0)
#0004ff	(0,4,255) */


