body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 200; 
  margin: 0;
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 2fr 5fr 2fr;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  text-align: right;
  justify-content: center;
  white-space: pre-line;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: hidden;

}
.center-content {
  flex: 1;
  width: 100%;
  font-size: calc(10px + 12vmin);
  line-height: calc(1px+ 12vmin);
}
.top-right-content {
  font-size: calc(7vmin);
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  margin: auto;
}
.top-left-content {
  font-size: calc(7vmin);
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  margin: auto;
  display: none;
}

.middle-left-content {
  font-size: calc(7vmin);
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin: auto;
  text-decoration: solid;
}

.nav-container {
    text-align: center; /* center the child */
}
.navigation {
    display: inline-flex; /* keep the background color wrapped tight */
    padding:3px;background-color:black;color:#ffffff;
    padding-inline: 10px;
  font-size: calc(7vmin);

}
@media only screen and (max-width: 600px) {
  .wrapper {
      grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  }
  .center-content {
  flex: 1;
  width: 100%;
  font-size: calc(1px + 13vmin);
  line-height: calc(1px+ 13vmin);
}
}




/* #c90000	(201,0,0)
#fff400	(255,244,0)
#0004ff	(0,4,255) */
